<style>
{% include "annotate/via_style.css" %}
</style>


<div style="display: none">
    {% include "annotate/via_page.html" %}
</div>


<div id="display_area" style="width: 50%; float: left">
    <div id="image_panel" class="display_area_content display_none">
        {# <img src="{{ image }}">  #}
        {# <img src="{{ image_url }}"> #}
        <canvas id="region_canvas" width="1" height="1" tabindex="1" oncontextmenu="return false;">Sorry, your browser does not support HTML5 Canvas functionality which is required for this application.</canvas>
        {% if method == 'imagemask' %}
        <img id="maskImg" style="position: absolute; top: 0px; left: 0px; visibility: visible; opacity: 0.5;" src="#" oncontextmenu="return false;">
        {% endif %}
    </div>
</div>

<div id="right_area" style="float: right; width: 50%;">
    {% include "annotate/segmask_imgupload.html" %}
</div>

<!-- <div id="right_area" style="float: right; width: 50%;">
    <img id="img_result">
    <img id="img_result_2">
</div> -->

<script>
{% include "annotate/via_script.js" %}
</script>
<script>
$( document ).ready(function() {
    _via_init();
    var input = { 'url': { 'value':'{{ image_url }}' }};
    //project_file_add_url_input_done(input);

    {% if method == 'default' %}
    select_region_shape('polygon');
    {% endif %}





    //
    var d = {};
    var size = -1;
    var filename = '{{ image_url }}';
    var via_img_id = _via_get_image_id(filename, size);
    //var image_idx = _via_image_id_list.indexOf(via_img_id);
    //var width = 512;
    //var height = 512;
    var width = {{image_width}};
    var height = {{image_height}};

    setTimeout(continueExecution, 1000);
    function continueExecution()
    {
        //var width = _via_img_stat[image_idx][0];
        //var height = _via_img_stat[image_idx][1];
        // [[37,189,111,136,237,380,169,413]]
        regions = [];
        {% if showRegion %}
        {% for seg in list_seg %}
        region = {
                'shape_attributes': {
                    'name': 'polygon', 'all_points_x': [ {{ seg.x }} ], 'all_points_y': [ {{ seg.y }} ]
                },
                'region_attributes': {}
            };
        //region['shape_attributes']['all_points_x'] = [];
        //region['shape_attributes']['all_points_y'] = [];
        regions.push(region);
        {% endfor %}
        {% endif %}

        d[via_img_id] = { 'filename':filename,
                          'size':size,
                          'regions':regions,
                          'file_attributes':{'width':width, 'height':height},
                        };
        import_annotations_from_json_2(d);

        //console.log(_via_img_metadata);
        //console.log('done document ready');
    }

    setTimeout(continueExecution2, 2000);
    function continueExecution2()
    {
        {% if method == 'imagemask' %}

        $('#region_canvas').insertBefore('#bim0');
        //$('#maskImg').insertBefore('#region_canvas');
        //$('#region_canvas').addClass('hidden');
        //alert(1);
        {% endif %}
    }

});
</script>