<style>
{% include "annotate/via_style.css" %}
</style>

<form action="grow_refine_traces" id="form_traces" method="POST" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}

    Region Shape:
    <select id="traceShape" onchange="changeTraceShape()">
        <option value="polyline" selected>Polyline</option>
        <option value="polygon">Polygon</option>
        <option value="rect">Rectangle</option>
    </select>

    <input type="hidden" value="{{data_id}}" name="data_id">
    <input type="hidden" value="{{dataset}}" name="dataset">

    <input type="hidden" value="{{ image_url }}" name="img">
    {% if is_ref_dataset %}
        <input type="hidden" value="{{dataset}}-{{ref_dataset}}-{{data_id}}" name="ID">
    {% else %}
        <input type="hidden" value="{{dataset}}--{{data_id}}" name="ID">
    {% endif %}

    <input type="hidden" value="{{image_width}}" name="img_size[]">
    <input type="hidden" value="{{image_height}}" name="img_size[]">
    <input type="hidden" value="9" name="weight">
    <input type="hidden" value="1" name="m">
    <input type="hidden" value="" name="border">
    {# <input type="hidden" name="trace[]"> #}
    <button>Grow traces</button>
</form>

<div style="display: none">
    {% include "annotate/via_page.html" %}
</div>


<div id="display_area" style="width: 50%; float: left">
    <div id="image_panel" class="display_area_content display_none">
        {# <img src="{{ image }}">  #}
        {# <img src="{{ image_url }}"> #}
        <canvas id="region_canvas" width="1" height="1" tabindex="1">Sorry, your browser does not support HTML5 Canvas functionality which is required for this application.</canvas>
    </div>
</div>

<div id="right_area" style="float: right; width: 50%;">
    <img id="img_result">
    <img id="img_result_2">
</div>

<script>
{% include "annotate/via_script.js" %}
</script>
<script>
function changeTraceShape() {
    //console.log(changeMethod);
    var shape = $('#traceShape').val();
    select_region_shape(shape);
    /*if (shape == 'polyline') {
        select_region_shape('polyline');
    } else if (shape == 'polygon') {
    } else if (shape == 'rectangle') {
    }*/
}
$( document ).ready(function() {
    _via_init();
    var input = { 'url': { 'value':'{{ image_url }}' }};
    //project_file_add_url_input_done(input);
    //select_region_shape('polygon');
    select_region_shape('polyline');

    document.getElementById('user_input_attribute_id').value = 'class';
    add_new_attribute_from_user_input();
    $('#attribute_type').val('radio').trigger('change');
    $('#_via_attribute_new_option_id').val('background').trigger('change');
    $('#_via_attribute_new_option_id').val('fish').trigger('change');
    $('#_via_attribute_new_option_id').val('background_border').trigger('change');
    $('#_via_attribute_new_option_id').val('ignore').trigger('change');

    $("#_via_attribute_option_default_fish").prop("checked", true).trigger("change");

    //
    var d = {};
    var size = -1;
    var filename = '{{ image_url }}';
    var via_img_id = _via_get_image_id(filename, size);
    //var image_idx = _via_image_id_list.indexOf(via_img_id);
    var width = {{image_width}};
    var height = {{image_height}};

    setTimeout(continueExecution, 1000);
    function continueExecution()
    {
        //var image_idx = _via_image_id_list.indexOf(via_img_id);
        //console.log(image_idx);
        //console.log(_via_image_id_list);
        //console.log(_via_img_stat);
        //var width = _via_img_stat[image_idx][0];
        //var height = _via_img_stat[image_idx][1];
        //console.log(width);
        //console.log(height);
        // [[37,189,111,136,237,380,169,413]]
        regions = [];
        {% for seg in list_seg %}
        region = {
                'shape_attributes': {

                    'name': '{{ seg.shape }}',
                    {% if seg.shape == 'polyline' or seg.shape == 'polygon'  %}
                        'all_points_x': [ {{ seg.x }} ], 'all_points_y': [ {{ seg.y }} ]
                    {% elif seg.shape == 'rect' %}
                        'x': {{ seg.x }}, 'y': {{ seg.y }}, 'width': {{ seg.width }}, 'height': {{ seg.height }}
                    {% endif %}
                },
                'region_attributes': { "class": "{{ seg.category }}" }
            };
        //region['shape_attributes']['all_points_x'] = [];
        //region['shape_attributes']['all_points_y'] = [];
        regions.push(region);
        {% endfor %}

        d[via_img_id] = { 'filename':filename,
                          'size':size,
                          'regions':regions,
                          'file_attributes':{'width':width, 'height':height},
                        };
        import_annotations_from_json_2(d);

        //console.log(_via_img_metadata);
        //console.log('done document ready');
    }


});
</script>