<script src="/static/js/jquery-3.4.1.min.js"></script>

<div style="padding: 1 0 1 10">

<h1>Data Id: {{data_id}}</h1>
{% if is_ref_dataset %}
<h2>Referencing dataset: {{ ref_dataset }}</h2>
<h3>Referenced (parent) dataset: {{ dataset }}</h3>
{% else %}
<h2>Dataset: {{ dataset }}</h2>
{% endif %}


<div>
    {% if is_ref_dataset %}
        <button onclick="window.location.href = '/ref_dataset_mng/annot_mng?dataset={{dataset}}&refdataset={{ref_dataset}}';">
            Back to referencing dataset: {{ref_dataset}}
        </button>
    {% else %}
        <button onclick="window.location.href = '/dataset_mng/annot_mng?dataset={{dataset}}';">Back to dataset: {{dataset}}</button>
    {% endif %}
</div>
<hr/>

<div>
    Annotation method/tool:
    <select>
        <option value="default" selected>Default</option>
        <option value="bylabel" disabled>ByLabel</option>
        <option value="freelabel" disabled>FreeLabel</option>
        <option value="maskrcnn" disabled>Utilizing Mask R-CNN</option>
    </select>
</div>


<form action="save" id="form_save_annot" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" value="{{data_id}}" name="data_id">
    <input type="hidden" value="{{dataset}}" name="dataset">
    {% if is_ref_dataset %}
        <input type="hidden" value="{{ref_dataset}}" name="refdataset">
    {% endif %}
    <input type="hidden" name="annot">
    <button>Save</button>
    <span style='color: green; font-style: italic' id="save_msg"></span>
</form>

</div>

{% include "annotate/default.html" %}
<script>
function hideSavedMsg() {
    $('#save_msg').text('');
}
$( document ).ready(function() {
    $("#form_save_annot").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var url = form.attr('action');

        pack_via_metadata('coco').then( function(data) {
            var hstr = data.join('');
            var obj = JSON.parse(hstr);
            var list_seg = [];
            for (i=0; i<obj.annotations.length; i++) {
                var seg = '';
                //console.log(obj.annotations);
                //if (obj.annotations.length > 0) {
                //seg = JSON.stringify(obj.annotations[i].segmentation);
                seg = obj.annotations[i].segmentation;
                //}
                list_seg.push(seg);
            }

            //console.log(obj.annotations[0].segmentation);
            //console.log(seg);
            $('input[name="annot"]').val(JSON.stringify(list_seg));

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                  //console.log(data);
                  $('#save_msg').text('Saved');
                  setTimeout(hideSavedMsg, 1000);
                }
            });
        }.bind(this), function(err) {
            //show_message('Failed to collect annotation data!');
        }.bind(this));
    });
});
</script>