<script src="/static/js/jquery-3.4.1.min.js"></script>

<div style="padding: 1 0 1 10">

    <h1>Data Id: {{data_id}}</h1>
    {% if is_ref_dataset %}
    <h2>Referencing dataset: {{ ref_dataset }}</h2>
    <h3>Referenced (parent) dataset: {{ dataset }}</h3>
    {% else %}
    <h2>Dataset: {{ dataset }}</h2>
    {% endif %}


    <div>
        {% if is_ref_dataset %}
            <button onclick="window.location.href = '/ref_dataset_mng/annot_mng?dataset={{dataset}}&refdataset={{ref_dataset}}';">
                Back to referencing dataset: {{ref_dataset}}
            </button>
        {% else %}
            <button onclick="window.location.href = '/dataset_mng/annot_mng?dataset={{dataset}}';">Back to dataset: {{dataset}}</button>
        {% endif %}
    </div>
    <hr/>

    <div>
        Annotation method/tool:
        <select id="annotMethod" onchange="changeMethod()">
            <option value="default">Default (VIA)</option>
            {# <option value="bylabel" disabled>ByLabel</option> #}
            <option value="freelabel">FreeLabel</option>
            {# <option value="maskrcnn" disabled>Utilizing Mask R-CNN</option> #}
        </select>
    </div>

    <div style="display: flex">
        <div style="flex: 20%">
            <form action="save" id="form_save_annot" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{data_id}}" name="data_id">
                <input type="hidden" value="{{dataset}}" name="dataset">
                {% if is_ref_dataset %}
                    <input type="hidden" value="{{ref_dataset}}" name="refdataset">
                {% endif %}
                <input type="hidden" name="annot">
                <input type="hidden" name="categories">
                <input type="hidden" name="method" value="{{ method }}">
                <button>Save</button>
                <span style='color: green; font-style: italic;' id="save_msg"></span>
            </form>
        </div>
        <div style="flex: 20%">
            <form action="check_score" id="form_check_score" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{data_id}}" name="data_id">
                <input type="hidden" value="{{dataset}}" name="dataset">
                <input type="hidden" name="annot">
                <button id="btnScore">Score</button>
                <span style='color: green; font-style: italic' id="score"></span>
            </form>
        </div>
        <div style="flex: 60%">
            &nbsp;
        </div>
    </div>
</div>


{% if method == 'default' %}
{% include "annotate/default.html" %}
{% elif method == 'freelabel' %}
{% include "annotate/freelabel.html" %}
{% endif %}


<script>
function changeMethod() {.6
    console.log(changeMethod);
    var method = $('#annotMethod').val();
    {% if is_ref_dataset %}
    window.location.href = '/annotate?dataset={{dataset}}&refdataset={{ref_dataset}}&data_id={{data_id}}&method='+method;
    {% else %}
    window.location.href = '/annotate?dataset={{dataset}}&data_id={{data_id}}&method='+method;
    {% endif %}

}

$( document ).ready(function() {
    $("#annotMethod").val("{{ method }}");
});

{% if method == 'default' %}
{% include "annotate/default_script.js" %}
{% elif method == 'freelabel' %}
{% include "annotate/freelabel_script.js" %}
{% include "annotate/default_script.js" %}
{% endif %}

</script>